.list_techologies{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 50px;
    width: 95%;
    max-width: 720px;
    margin: 100px auto;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.paragraph{
    text-align: center;
    text-decoration: underline;
    padding: 20px 0px 100px 0px;
    color: #999;
}