header{
    background-color: white;
    display: flex;
    justify-content: center;
}

.header_container{
    width: 90%;
    max-width: 920px;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container .header_logo{
    width:45px;
}

.header_container .header_logo img{
    width:100%;
}

.header_container .header_menu{
    width:30px;
}

.header_container .header_menu img{
    width:100%;
}

.menu-image{
    cursor:pointer;
}