.title{
    padding-top: 10vh;
    text-align: center;
}

.subtitle{
    padding-top: 20px;
    text-align: center;
    color: #777;
}

.hr{
    border-bottom: solid 1px #333;
    width: 100px;
    margin: 25px auto;
}