.pricipal_section{
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.pricipal_section .pricipal_section__image{
    width: 120px;
    height: 120px;
    background-image: url('/assets/jose-galdamez.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2vh;
}

.title{
    font-size: 2.2rem;
    margin-top: 0px;
    color: #002333;
}

.paragraph{
    padding: 25px;
    font-size: 1.2rem;
    margin: 0px;
    color: #002333;
    width: 350px;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.buttons button{
    opacity: 0.9;
    scale: 0.9;
    transition: all ease 0.3s;
}

.buttons button:hover{
    opacity: 1;
    transform: scale(1.05);
}

@media(min-width:768px){
    .buttons{
        flex-direction: row;
    }
}