.contact{
    padding-top: 30px;
}

.clicks{
    display: grid;
    width: 95%;
    margin: 0 auto;
    max-width: 420px;
    grid-template-columns: 1fr;
}

.paragraph{
    text-align: center;
}

.whatsapp{
    margin-top: 50px;
}

.email{
    margin-top: 20px;
}



.whatsapp img{
    width: 100%;
}

.email img{
    width: 100%;
}

.social{
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 600px) {
    .clicks{
        display: grid;
        width: 85%;
        margin: 0 auto;
        max-width: 720px;
        grid-template-columns: 1fr;
    }

    .whatsapp{
        margin: 0px auto;
        padding: 0px 20px;
    }
    .paragraph{
        padding: 20px;
    }
}