.skills{
    background-color: #f1f1f1;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
}

.subtitle{
    text-align: center;
}

.hr{
    border-bottom: solid 1px #333;
    width: 100px;
    margin: 25px auto;
}

.list_skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media(min-width: 800px){
    .list_skills{
        flex-direction: row;
    }
}